<nav class="camino-tabs">
  <%= link_to "Todos", posts_path %>
  <%= link_to "Mis avances", mine_posts_path %>
  <%= link_to "Nuevo avance", new_post_path, class: "is-active" %>
</nav>

<h1 class="camino-page-title">Nuevo avance 🌱</h1>

<%= form_with model: @post, class: "camino-form" do |form| %>
  <div class="field">
    <%= form.label :title, "Título" %>
    <%= form.text_field :title, placeholder: "Un pequeño avance..." %>
  </div>

  <div class="field">
    <%= form.label :content, "Contenido" %>
    <%= form.text_area :content, placeholder: "Comparte aquí..." %>
  </div>

  <div class="field">
    <%= form.label :tag, "Etiqueta" %>
    <%= form.select :tag, options_for_select(Post::TAGS.map { |t| [tag_label(t), t] }, @post.try(:tag)), { include_blank: "Sin etiqueta" } %>
  </div>

  <%= form.submit "Publicar" %>
<% end %>
