<h2>Nuevo post 🌱</h2>

<%= form_with model: @post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :tag, "Etiqueta" %><br>
    <%= form.select :tag, options_for_select(Post::TAGS.map { |t| [tag_label(t), t] }, @post.try(:tag)), { include_blank: "Sin etiqueta" } %>
  </div>

  <br>

  <%= form.submit "Publicar" %>
<% end %>
